body {
    color: black;
    background: linear-gradient(to top right,#c4c3ff, #fcf0f4);
    font-family: 'Tahoma',Segoe UI, Geneva, Verdana, sans-serif
}

.wu {
    font-size: 43px;
    margin-top: 20px;
    font-weight: bold;
    margin-left: 45px;
}


.or{
    font-size: 18px;
    margin-top: 42px;
    margin-bottom: 0px;
    font-weight: normal;
    margin-left: 45px;
   

}

.notes{
    color:#b23f84;
    font-size: 20px;
    font-weight: bold;
    margin-top: 123px;
    margin-left: 45px;
    display: inline-block;
  }




.cover,
.list{
    width: 750px;
    margin-top: 40px;
    margin-left: 121px;
     
    
} 

.cover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    
}



.cover section{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    width: 100%;
}


#photo{
    width: 305px;
    height: 305px;
}

ol {
    list-style-type: none; /* Убираем исходные маркеры */
    counter-reset:  item; /* Обнуляем счетчик списка */
    list-style-position: outside;  /* текст если длинный сбоку от цыфр а не под ними */
    column-count: 2;
    width: 125%;
}
li:before {
    content: counter(item) ') '; /* Добавляем числа к списку и к числам скобку */
    content: counter(item);      /* Добавляем числа к списку, если нужны числа без скобки */
    counter-increment: item;     /* Задаём подсчет +1 цифр в списке */
     color: #fff;
     border: solid 2px;
     border-radius: 999px;
     padding: 10px;  /* если тут менять, потом еще нужно margin-left чтоб вторая строчка текста была в ровень с первой */
     font-size: 15px;
     text-align: center;
     line-height: 15px;   
     width: 15px;
     height: 15px;
     display: inline-block;  
    margin-left: -40px;
     margin-right: 20px;   
     margin-top: 5px;
}




.list{
    font-size: 16px;
}

